body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

#mainDiv {
    width: 700px;
    height: 240px;
    text-align: center;
    max-height: 300px;
}

#mainGrid {
    margin-bottom: 30px;
    text-align: left;
}

#mainGrid .k-grid-content {
    max-height: 123px;
}