body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

h1 {
    font-size: 25;
}

#mainDiv {
    width: 700px;
    height: 260px;
    text-align: center;
    max-height: 300px;
}

#mainGrid {
    margin-bottom: 30px;
}

#mainGrid .k-grid-content {
    max-height: 135px;
}

.k-grid-toolbar {
    text-align: left;
}

.k-grid-content {
    text-align: center;
}