body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 13px;
}

h1 {
    font-size: 25;
}

#mainDiv {
    height: 220px;
    text-align: center;
    max-height: 240px;
}

#mainGrid {
    margin-bottom: 30px;
}

#mainGrid .k-grid-content {
    max-height: 115px;
}

.k-grid-toolbar {
    text-align: left;
}

.k-grid-content {
    text-align: center;
}